html {
	height: 100%;
}

p {
	margin: 2% 0;
}

body {
	color: white;
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#top-container {
	width: 98%;
	height: 96%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 1%;
}

#sidebar {
	height: 100%;
	width: 30%;
}

#result-section,
#suggestion-list {
	height: 90%;
}

#address-confirmation {
	margin: 10% 10% 0 0;
}

#confirmed-address-details {
	padding-right: 4px;
	margin-top: 10px;
	height: 100%;
}

#suggestion-list {
	overflow-y: scroll;
}

.suggestion-list-item {
	cursor: pointer;
	cursor: hand;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid;
	margin-right: 4%;
}

.suggestion-list-item .item-number {
	margin: auto;
	border-radius: 21px;
	height: 20px;
	background: white;
	color: black;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.suggestion-list-item .item-details {
	padding: 10px;
	width: 80%;
}

.item-details p {
	margin: 2% 0 0 0;
}

.item-clicked {
	background-color: white;
	color: black;
	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-ms-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;
}

.item-clicked .item-number {
	background: black;
	color: white;
}

#map-container {
	width: 70%;
	height: 100%;
}

.infowindow {
	color: black;
}

/* Scrollbar Styling */

#suggestion-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#suggestion-list::-webkit-scrollbar {
	width: 12px;
}

#suggestion-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}