/* General Styling */

html {
	height: 100%;
}

p {
	margin: 2% 0;
}

body {
	color: white;
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

/* Nav-bar styling */

header {
	height: 10%;
	padding: 1% 1% 0 1%;
	display: flex;
}

#nav-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#input-section {
	width: 30%;
}

#input-section input {
	width: 70%;
}

#filter-container {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
}

#filter-container div {
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

.category-filter-container {
	width: 50% !important;
}

.category-filter-container form {
	display: flex;
    justify-content: space-around;
}

/* Main content container styling */

#top-container {
	width: 98%;
	height: 86%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 0 1% 1% 1%;
}

/* Sidebar functionalities */

#sidebar {
	height: 100%;
	width: 30%;
}

#result-section,
#suggestion-list {
	height: 90%;
}

#address-confirmation {
	margin: 10% 10% 0 0;
}

#confirmed-address-details {
	padding-right: 4px;
	margin-top: 10px;
	height: 100%;
}

/* Suggestion List & suggestion list items */

#suggestion-list {
	overflow-y: scroll;
}

.suggestion-list-item {
	cursor: pointer;
	cursor: hand;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid;
	margin-right: 4%;
}

.suggestion-list-item .item-number {
	margin: auto;
	border-radius: 21px;
	height: 20px;
	background: white;
	color: black;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.suggestion-list-item .item-details {
	padding: 10px;
	width: 80%;
}

.item-details p {
	margin: 2% 0 0 0;
}

/* Favorite button */

.fav-star {
	cursor: inherit;
	width: 70px;
	height: 50px;
	background: url(../images/fav-star.png) no-repeat;
	background-position: 0 0;
	border: none;
}

.fav-star:hover {
	background-position: -3519px 0;
	transition: background 1s steps(55);
}

.favorited {
	cursor: inherit;
	width: 70px;
	height: 50px;
	background: url(../images/fav-star.png) no-repeat;
	background-position: -3519px 0;
	border: none;
}

/* List item when clicked */

.item-clicked {
	background-color: white;
	color: black;
	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-ms-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;
}

.item-clicked .item-number {
	background: black;
	color: white;
}

/* Map area */

#map-container {
	width: 70%;
	height: 100%;
}

.infowindow {
	color: black;
}

/* Scrollbar Styling for Webkit Browser on Windows */

#suggestion-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#suggestion-list::-webkit-scrollbar {
	width: 12px;
}

#suggestion-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}